@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Poppins:ital,wght@1,300&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Poppins:ital,wght@1,300&display=swap");

html {
	box-sizing: border-box;
	overflow-x: hidden;
	width: 100vw;
	font-family: GilroyMedium;
	/* height: 100vh; */
}

@font-face {
	font-family: GilroyExtraBold;
	src: url("../font/Gilroy-ExtraBold.ttf");
}

@font-face {
	font-family: GilroyBold;
	src: url("../font/Gilroy-Bold.ttf");
}

@font-face {
	font-family: GilroySemiBold;
	src: url("../font/Gilroy-SemiBold.ttf");
}

@font-face {
	font-family: GilroyMedium;
	src: url("../font/Gilroy-Medium.ttf");
}

@font-face {
	font-family: Gilroy;
	src: url("../font/Gilroy-Regular.ttf");
}

body {
	font-family: GilroyMedium;
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
	/* overflow: hidden; */
	/* background-image: url("./assets/img/back-img.png"); */
	background-color: #131313;
	color: #fff;
	/* background-size: cover; */
}

/* --------------------------------------------------- */

.instrCon {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.instrMain {
	background: #1f1f1f;
	border-radius: 28px;
	height: 70vh;
	width: 70%;
	/* padding: 5%; */
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-content: center;
}

.instrLeft {
	background: #280473;
	width: 50%;
	border-radius: 28px 0px 0px 28px;
	height: auto;
	padding: 5%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: Gilroy;
	font-style: normal;
	font-weight: 600;
	font-size: 28px;
	line-height: 41px;
	text-transform: capitalize;

	/* Text/Primary */

	color: rgba(255, 255, 255, 0.95);
}

.instrRight {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-content: flex-start;
	padding: 5%;
}

.instrRight .heading2 {
	font-family: Gilroy;
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 29px;
	/* identical to box height */

	/* text-align: center; */
	text-transform: capitalize;

	/* Text/Primary */

	color: rgba(255, 255, 255, 0.95);
}

.instrRight .sub-heading {
	font-family: Gilroy;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 19px;
	/* identical to box height */

	/* text-align: center; */
	/* letter-spacing: -0.482925px; */

	/* Text/Secondary */

	color: rgba(255, 255, 255, 0.7);
}

.instrRight ul {
	padding: 0;
	list-style: disc;
	list-style-type: disc;
}

.instrRight ul li {
	font-family: Gilroy;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	display: flex;
	/* align-items: center; */
	color: rgba(255, 255, 255, 0.95);
	/* color: red; */
	padding-top: 2%;
}

.instrbtn1 {
	font-family: GilroyMedium;
	-webkit-border-radius: 12;
	-moz-border-radius: 12;
	border-radius: 12px;
	color: #ffffff;
	font-size: 16px;
	background: #6b27f8;
	padding: 3%;
	/* padding-top: 4%; */
	/* padding-bottom: 4%; */
	text-decoration: none;
	border: none;
	width: 50%;
	/* height: 30px; */
	margin: 0;
	text-align: center;
	margin-top: 5%;
}

.instrbtn1:hover {
	background: #4506c8;
	text-decoration: none;
}


.btn1 {
	border-radius: 12px;
	font-family: GilroySemiBold;
	color: #ffffff;
	font-size: 20px;
	background: #6b27f8;
	padding: 3%;
	text-decoration: none;
	border: none;
	width: 100%;
	margin-bottom: 20px;
	cursor: pointer;
	text-align: center;
	transition: all 100ms;
	/* height: 60px; */
}

.btn1:hover{
	background-color: rgb(88, 33, 199)
}

.btn2 {
	cursor: pointer;
	border-radius: 12px;
	font-family: GilroySemiBold;
	color: #9362fa;
	font-size: 16px;
	background: #1f1f1f;
	padding: 3%;
	border: solid #6b27f8 3px;
	text-decoration: none;
	width: 100%;
	margin-bottom: 20px;
	cursor: pointer;
	text-align: center;
	/* height: 60px; */
}

.domainPage {
	/* height: 100vh; */
	width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.domainPage .mainForm {
	/* margin-top: 70px; */
	width: auto !important;
	height: auto !important;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 3% !important;
	background: #1f1f1f;
	border-radius: 25px;
}

.domainbtn1 {
	-webkit-border-radius: 12;
	-moz-border-radius: 12;
	border-radius: 12px;
	font-family: Arial;
	color: #ffffff;
	font-size: 18px;
	background: #6b27f8;
	padding: 3%;
	padding-top: 4%;
	padding-bottom: 4%;
	text-decoration: none;
	border: none;
	width: 100%;
	/* height: 30px; */
	margin: 0;
	text-align: center;
	margin-top: 5%;
}

.domainbtn1:hover {
	background: #4506c8;
	text-decoration: none;
}

h1.heading {
	font-family: GilroySemiBold;
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 32px;
	/* identical to box height */

	text-align: center;

	color: #ffffff;
	margin: 0;
}

.domainPage .para {
	font-family: GilroyMedium;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 21px;
	text-align: center;
	color: rgba(255, 255, 255, 0.7);
	margin: 0;
}
.domainRow,
.domainRowDead {
	width: 100%;
	min-width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 3.5% 3.5%;
	margin-top: 2%;
}

.domainRowDead {
	opacity: 0.4;
}

.domainRow .heading,
.domainRowDead .heading {
	font-family: GilroySemiBold;
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 32px;
	color: #ffffff;
	align-self: flex-start;
	text-align: left;
}

.domainRow .para,
.domainRowDead .para {
	font-family: GilroyMedium;
	font-style: normal;
	font-weight: 300;
	font-size: 14px;
	line-height: 21px;
	color: rgba(255, 255, 255, 0.7);
	/* identical to box height */
	margin: 0;
}

.domainRow input {
	cursor: pointer;
}

.domainRow input:checked {
	background-color: #4506c8;
}


/* --------------------------------------------------- */


/* Scrollbar */
:root::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	border-radius: 10px;
	background-color: transparent;
}

:root::-webkit-scrollbar {
	width: 8px;
	background-color: transparent;
}

:root::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	background-color: #555;
}

@media only screen and (max-width: 768px) {
	.deviceError {
		display: block !important;
		width: 90% !important;
		height: 100vh !important;
		background-color: #131313 !important;
		display: flex !important;
		flex-direction: column !important;
		justify-content: space-around !important;
		align-items: center !important;
		z-index: 99 !important;
		text-align: center !important;
		font-size: 24px !important;
		padding: 5% !important;
	}

	.navbar {
		display: none !important;
	}
	.deviceError img {
		width: 50%;
		height: auto;
		/* margin-bottom: 20%; */
	}

	.deviceError .sub {
		font-size: 18px !important;
	}
}

.error {
	color: red;
	font-size: 14px;
	align-self: flex-end;
	/* margin-top: -2%; */
	margin-bottom: 2%;
}

.landing_page {
	height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
}

.landing_page .left {
	margin-top: 50px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 45vw;
}

.landing_page .right {
	height: 100vh;
	width: 55vw;
}

.landing_page .right img {
	height: 100vh;
	object-fit: cover;
	width: 55vw;
}

.login_page {
	height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
}
.signup_page {
	height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
}
.margin {
	margin-left: 1rem;
}
.login_page .left {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 45vw;
}
.signup_page .left {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 55vw;
}
.login_page .right {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 55vw;
}
.signup_page .right {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 45vw;
}
.login_page .right img {
	height: 100vh;
	width: 55vw;
	object-fit: cover;
}
.signup_page .left img {
	height: 100vh;
	width: 55vw;
	object-fit: cover;
}
.login_page .main_form {
	width: 25vw;
	height: 45%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 50px 35px 50px 35px;
	background: #1f1f1f;
	border-radius: 25px;
}
.signup_page .main_form {
	width: 25vw;
	height: 60%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 50px 35px 50px 35px;
	background: #1f1f1f;
	border-radius: 25px;
}
.login_page .btn1,
.signup_page .btn1 {
	width: 100% !important;
	/* border-radius: 16px !important; */
	height: 40px !important;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 16px;
	margin: 0 !important;
}
.login_page .heading,
.signup_page .heading {
	font-family: GilroySemiBold;
	font-style: normal;
	font-weight: 600;
	font-size: 22px;
	line-height: 29px;
	/* identical to box height */

	text-align: center;

	color: #ffffff;
	margin: 0;
	margin-top: 10px;
}
.login_page .para,
.signup_page .para {
	font-family: GilroyMedium;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 22px;
	/* identical to box height, or 137% */

	display: flex;
	align-items: center;
	text-align: center;
	letter-spacing: 0.25px;

	/* Text/Secondary */

	color: rgba(255, 255, 255, 0.7);
	margin: 5px;
	margin-bottom: 20px;
}
.forgot {
	font-family: GilroySemiBold;
	font-style: normal;
	font-weight: 600;
	font-size: 12px;
	margin: 0;
	padding: 0;
	margin-top: -2%;
	margin-bottom: 5%;
	align-self: flex-end;
	line-height: 28px;
	/* or 175% */

	display: flex;
	align-items: center;
	text-align: center;
	letter-spacing: 0.75px;

	/* Text/Secondary */
	text-decoration: none;

	color: rgba(255, 255, 255, 0.7);
}
.login_page .bottom {
	font-family: GilroySemiBold;
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 28px;
	/* or 175% */

	display: flex;
	align-items: center;
	text-align: center;
	letter-spacing: 0.75px;

	/* Text/Secondary */
	text-decoration: none;

	color: rgba(255, 255, 255, 0.7);
}

.login_page .tosignup {
	margin-left: 3px;
	color: #864ff9;
	cursor: pointer;
}

.login_page .form {
	width: 100%;
	margin-top: 20px;
	margin-bottom: 20px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}

@media screen and (max-width: 620px) {
	.login_page .left {
		margin-top: 20px;
		width: 90vw !important;
	}

	.login_page ::placeholder {
		font-size: 7.5px !important;
	}

	.login_page .right {
		display: none;
	}

	.login_page .main_form {
		width: 60vw;
		height: 32%;
		padding: 35px 20px 35px 20px;
	}

	.login_page .btn1 {
		font-size: 12px !important;
	}

	.login_page .heading {
		font-size: 16px;
		line-height: 25px;
	}

	.login_page .para {
		font-size: 9px;
		line-height: 20px;
	}

	.login_page .bottom {
		font-size: 10px;
		line-height: 25px;
		letter-spacing: 0.55px;
	}
	.login_page .form {
		margin-top: 8px;
		margin-bottom: 15px;
	}
}

@media screen and (max-width: 950px) and (min-width: 600px) {
	.login_page .left {
		margin-top: 20px;
		width: 90vw !important;
	}

	input {
		font-size: 12px !important;
	}

	.login_page .right {
		display: none;
	}

	.login_page .main_form {
		width: 50vw;
		height: 25%;
		padding: 30px 30px 30px 30px;
	}

	.login_page .btn1 {
		font-size: 14px !important;
	}

	.login_page .heading {
		font-size: 20px;
		line-height: 26px;
	}

	.login_page .para {
		font-size: 14px;
		line-height: 22px;
	}

	.login_page .bottom {
		font-size: 12px;
		line-height: 25px;
		letter-spacing: 0.55px;
	}
	.login_page .form {
		margin-top: 10px;
		margin-bottom: 18px;
	}
}

@media screen and (max-width: 1200px) and (min-width: 1000px) {
	.login_page .btn1 {
		font-size: 13px !important;
	}

	.login_page .heading {
		font-size: 20px;
		line-height: 26px;
	}

	.login_page .para {
		font-size: 12px;
		line-height: 22px;
	}

	.login_page .bottom {
		font-size: 12px;
		line-height: 25px;
		letter-spacing: 0.55px;
	}
	.login_page .form {
		margin-top: 10px;
		margin-bottom: 18px;
	}
}

.landing_page .info {
	width: 35vw;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

h1 {
	font-family: GilroyExtraBold;
	font-style: normal;
	font-weight: 800;
	font-size: 22px;
	line-height: 18px;
	/* identical to box height, or 75% */
	letter-spacing: 0.5px;
	margin: 0;
	/* Text/Secondary */

	color: rgba(255, 255, 255, 0.7);
}

.heading1 {
	font-family: GilroySemiBold;
	font-style: normal;
	font-weight: 600;
	font-size: 60px;
	line-height: 70px;
	/* identical to box height, or 110% */
	margin: 0;
	letter-spacing: 0.5px;

	/* Text/Primary */

	color: rgba(255, 255, 255, 0.95);
}

.portal_img {
	width: 11vw;
}

.para {
	font-family: "Poppins", sans-serif;
	font-size: 16px;
	line-height: 18px;
	/* identical to box height, or 100% */
	letter-spacing: 0.5px;
	/* Text/Secondary */
	color: rgba(255, 255, 255, 0.7);
}

@media screen and (max-width: 620px) {
	.landing_page .right {
		display: none;
	}
	.landing_page .left {
		margin-top: 0;
		width: 100vw;
	}
	.landing_page .info {
		width: 80vw;
	}
	h1 {
		font-weight: 800;
		font-size: 18px;
		line-height: 22px;
	}
	.heading1 {
		font-size: 40px;
		line-height: 40px;
		letter-spacing: 0.5px;
	}
	.portal_img {
		width: 30vw;
	}
	.para {
		font-size: 13px;
		line-height: 15px;
	}
	.btn1 {
		margin-top: 5px !important;
		margin-bottom: 15px !important;
		font-size: 15px !important;
	}
	.btn2 {
		font-size: 15px !important;
	}
}

@media screen and (max-width: 950px) and (min-width: 600px) {
	.landing_page .right {
		display: none;
	}
	.landing_page .left {
		transform: scale(1.1) translateX(70px);
		margin-top: 0;
		width: 100vw;
	}
	.landing_page .info {
		width: 80vw;
	}
	h1 {
		font-weight: 800;
		font-size: 22px;
		line-height: 24px;
	}
	.heading1 {
		font-size: 58px;
		line-height: 60px;
		letter-spacing: 0.5px;
	}
	.portal_img {
		width: 18vw;
	}
	.para {
		font-size: 16px;
		line-height: 18px;
	}
	.btn1 {
		margin-top: 10px !important;
		margin-bottom: 15px !important;
		font-size: 18px !important;
	}
	.btn2 {
		font-size: 18px !important;
	}
}

@media screen and (max-width: 1200px) and (min-width: 1000px) {
	h1 {
		font-weight: 800;
		font-size: 20px;
		line-height: 24px;
	}
	.heading1 {
		font-size: 44px;
		line-height: 50px;
		letter-spacing: 0.5px;
	}
	.portal_img {
		width: 12vw;
	}
	.para {
		font-size: 14px;
		line-height: 15px;
	}
	.btn1 {
		margin-top: 10px !important;
		margin-bottom: 15px !important;
		font-size: 16px !important;
	}
	.btn2 {
		font-size: 16px !important;
	}
}

.navbar {
	position: absolute;
	top: 0;
	left: 0;
	padding: 5%;
	z-index: 100;
}

.navbar img {
	width: 10vw !important;
	height: auto;
}

.loader {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}

.loader img {
	width: 10%;
	height: auto;
}
@media screen and (max-width: 620px) {
	.navbar {
		position: absolute;
		padding: 10%;
		justify-content: center !important;
		align-items: center !important;
		margin-top: 40%;
	}

	img {
		width: 100px;
		height: 36.18px;
	}
}

@media screen and (max-width: 950px) and (min-width: 600px) {
	.navbar {
		padding: 13% 0 !important;
		justify-content: center !important;
		align-items: center !important;
	}

	.navbar img {
		transform: scale(1.3);
	}
}

@media screen and (max-width: 1200px) and (min-width: 1000px) {
}

.container {
	margin-top: 0px;
	min-height: 75vh;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
}
#adglogo-cont {
	padding-top: 7.75vh;
	padding-bottom: 5.6vh;
	justify-content: center;
	display: flex;
}
#adglogo2 {
	width: 10%;
}

#adglogo {
	width: 90%;
}
#adglogo-cont2 {
	padding: 0px 16px;
	padding-top: 4vh;
	padding-bottom: 5.6vh;
	text-align: left;
	display: flex;
}
#userpic {
	width: 60px;
}
#sp {
	font-weight: 200;
	font-size: 11px;
}

.flex {
	transition: all 0.3s ease;
	flex: 1;
}
.usr-det {
	text-align: right;
	font-size: 18px;
	color: white;
	/*padding-top: 25px;*/
}
.footer {
	position: relative;
	/* top:100vh; */
	width: 100%;
	/* right: 0; */
	text-align: right;
	/* bottom: 0; */
	align-items: center;
	padding: 1em 0;
}
.footer-info {
	height: 2.5em;
}
.info-logo {
	width: 35px;
	position: absolute;
	left: 2.5em;
}
.fa-info-circle {
	cursor: pointer;
	margin-right: 1.5em;
	font-size: xx-large;
	color: #027aff;
}
.fa-info-circle:hover {
	color: white;
}
.contact-mail a {
	text-decoration: none;
	color: #ffffff;
	font-weight: bold;
}

@media (min-width: 576px) {
	#adglogo-cont {
		padding-top: 32px;
		padding-bottom: 32px;
	}
	#adglogo {
		width: auto;
	}
}

@media (min-width: 768px) {
	#back-img {
		width: 100vw;
	}
	#adglogo-cont {
		padding-bottom: 44px;
	}
}

input {
	width: 100%;
	background: #2b2b2b;
	border-radius: 12px;
	/* height: 60px; */
	padding: 5%;
	margin-bottom: 17px;
	font-family: GilroySemiBold;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 22px;
	display: flex;
	align-items: center;
	letter-spacing: 0.25px;
	color: rgba(255, 255, 255, 0.95);
	border: none !important;
}
input:focus {
	background: #383838;
	outline: 2px solid rgba(255, 255, 255, 0.4);
}
label {
	font-family: GilroyMedium;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 22px;
	display: flex;
	align-items: center;
	letter-spacing: 0.25px;
	color: #ffffff;
	margin-bottom: 5px;
}
.disabled {
	opacity: 0.5 !important;
}

@media screen and (max-width: 620px) {
	input {
		height: 35px;
		padding-left: 13px;
		margin-bottom: 8px;
		font-size: 9px;
		line-height: 18px;
	}

	label {
		font-size: 10px !important;
		line-height: 20px !important;
		margin-bottom: 3px !important;
	}

	.disabled {
		opacity: 0.5 !important;
	}

	.cross {
		right: 4%;
		top: 23%;
		width: 16px !important;
		height: 16px !important;
	}

	::placeholder {
		font-size: 10px !important;
	}
}

@media screen and (max-width: 950px) and (min-width: 600px) {
	input {
		height: 45px;
		padding-left: 14px;
		margin-bottom: 10px;
		font-size: 12px;
		line-height: 20px;
	}

	label {
		font-size: 14px !important;
		line-height: 22px !important;
		margin-bottom: 5px !important;
	}

	.disabled {
		opacity: 0.5 !important;
	}

	.cross {
		right: 4%;
		top: 23%;
		width: 18px !important;
		height: 18px !important;
	}
}

@media screen and (max-width: 1200px) and (min-width: 1000px) {
	input {
		height: 38px;
		padding-left: 14px;
		margin-bottom: 10px;
		font-size: 12px;
		line-height: 20px;
	}

	label {
		font-size: 14px !important;
		line-height: 22px !important;
		margin-bottom: 5px !important;
	}

	.disabled {
		opacity: 0.5 !important;
	}

	.cross {
		right: 4%;
		top: 23%;
		width: 18px !important;
		height: 18px !important;
	}
}

#profile-container {
	text-align: center;
	height: 65px;
	width: 65px;
	overflow: hidden;
	margin: 0 auto;
	/* background: #1f1f1f; */
	/* border-radius: 5.75862px; */
	color: #ffffff;
	opacity: 0.8;
	-webkit-backdrop-filter: blur(20px);
	backdrop-filter: blur(20px);

	transition: all 0.3s ease-in-out;
}
#profile-container:hover {
	z-index: 1000;
	background: #1f1f1f;
	border-radius: 5.75862px;
	padding: 10px 20px;
	height: 150px;
	width: max-content;
	/*min-width: max-content;*/
	transition: all 0.3s ease-in-out;
	margin-bottom: -105px;
}
#profile-container:hover img {
	padding-right: 5px;
	transition: all 0.3s ease-in-out;
}
#profile-container #profile-wrapper img {
	position: relative;
	z-index: 20;
	border-radius: 50%;
	display: block;
	height: 55px;
	width: 55px;
	object-fit: cover;
	margin: 5px auto;
	/*transition: all 0.3s ease;*/
}

#profile-container:hover #profile-wrapper img.active {
	transition: 0.3s;
	margin: 0px auto;
	border: none;
	border-radius: 5px;
}
#profile-wrapper #profile-title {
	letter-spacing: 0.269935px;

	/* Text/Secondary */

	color: rgba(255, 255, 255, 0.7);
	transition: 0.3s;
	text-align: center;
	font-size: 18px;
	font-weight: 500;
	padding: 15px 5px 5px 5px;
	line-height: 5px;
}
#profile-container #profile-title {
	transition: all 0.3s ease-in-out;
}
#logout-button {
	margin-top: 18px;
	margin-bottom: 18px;
	height: auto;
	width: auto;
	background: #1f1f1f;
	letter-spacing: 0.269935px;
	border: none;
	outline: none;
	cursor: pointer;
	font-size: 16px;
	font-weight: 400;
	border-radius: 5px;
	transition: all 0.3s;
	padding: 10px 40px 10px 40px;
	color: rgba(255, 255, 255, 0.7);
}
#logout-button:hover {
	color: white;
}
.t-uc {
	text-transform: uppercase;
}
.t-uc::placeholder {
	text-transform: capitalize;
}
/* login eye */
.lgn-eye {
	position: absolute;
	right: 15px;
	bottom: 15px;
	color: grey;
	font-size: 20px;
	cursor: pointer;
}

.lgn-eye-t {
	color: #1466d1 !important;
}
@media (min-width: 576px) {
	.lgn-eye-t {
		color: #1466d1 !important;
	}
	.lgn-eye {
		position: absolute;
		right: 15px;
		bottom: 20px;
		color: grey;
		font-size: 20px;
		cursor: pointer;
	}
}

@media (min-width: 768px) {
	.lgn-eye-t {
		color: #1466d1 !important;
	}
	.lgn-eye {
		position: absolute;
		right: 15px;
		bottom: 19px;
		color: grey;
		font-size: 20px;
		cursor: pointer;
	}
}

.modal-main {
	color: white;
	background: #191919 /*#312f31*/;
	max-width: 700px;
}
.modal-main a {
	color: #027aff;
}

.countdown .card {
	display: inline-block;
	margin-bottom: 10px;
}

.countdown-value {
	font-size: 50px;
	font-weight: bolder;
	text-align: center;
	color: #027aff;
	background: #333333;
	margin: 10px;
	min-width: 100px;
	padding: 20px 0;
}

.cll {
	width: 150px;
}

.forgot-pass {
	font-family: SF Pro Display;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
}

.forgot-pass a {
	text-decoration: none;
	color: white;
	font-weight: 600;
	/* border-bottom: 1px solid white; */
	text-decoration: underline;
}
input[type="radio"] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	display: inline-block;
	width: 18.49px;
	height: 17px;
	padding: 2px;
	background-clip: content-box;
	border: 1px solid #bbbbbb;
	border-radius: 50%;
}
input[type="radio"]:checked {
	background-color: dodgerblue;
	border: 1px solid dodgerblue;
}
input[type="radio"]:focus {
	outline: none;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
/* input[type="number"] {
	-moz-appearance: textfield;
} */
@media screen and (max-width: 340px) {
	.lgn-btn {
		margin: 2vw;
	}
}
